.catalog-product-view .ambanners {
    &.ambanner-7 {
	    order: 5;
    }
    &.ambanner-18 {
        order: 9;
    }
    &.ambanner-21 {
        order: 3;
        float: right;
        width: 45%;
    }
}
@media only screen and (max-width: 1023px) {
    .catalog-product-view .ambanners {
        &.ambanner-21 {
            width: 48%;
        }
    }
}
@media only screen and (max-width: 767px) {
    .catalog-product-view .ambanners {
        &.ambanner-21 {
            width: 100%;
        }
    }
}
